@model OnlineAlumniPortalMVC.Models.Student
@{
    ViewBag.Title = "DashboardIndex";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>students / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="/Resources/Sliders/@Model.Photo" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.Name</h2>
                    <h5>@Model.StudyProgram</h5>
                    <h4>about me</h4>
                    <p>@Html.Raw(Model.Description)</p>
                    <ul>
                        <li><span>degree: </span>@Model.StudyProgram</li>
                        <li><span>YearOfPassing: </span>@Model.YearofPassing</li>
                        <li><span>Marital Status: </span>@Model.MaritalStatus</li>
                        <li><span>DOB: </span>@Model.DateofBirth</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.Email</p>
                    <p><span>make a call : </span>@Model.Mobile</p>
                    <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Teacher End -->

